<template>
<div>

  <div>
    <h4><p>Obtenir la liste des Fruits</p></h4>
    <button v-on:click="get"> Get_Fruit!</button>
      <p id="fruit"></p> </br>
  </div>

  <div>
    <h4>  Veuillez entrer votre Donnée </h4> <input type="text" v-model="donne1" name="donne1"/>
    <button v-on:click="poste">Poster!</button> </br>
  </div>

  <div id='donne2'></div></br>
  <div>
    <h4> Pour Supprimer Cliquez sur le Bouton Delet!</h4>
    <button v-on:click="delet">Delet!</button></br>
  </div>
  <div>
    <h4> Pour Mettre à jour Cliquez sur le Bouton Modifier </h4>
    <button v-on:click="put">Modifier!</button>
  </div>

</div>

</template>
<script src="./ApiRest.js"></script>
